@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background-color: #F3F5F7;
  font-family: "Montserrat", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.container {
  display: flex;
  gap: 20px; 
}

.tables-section {
  width: 45%;  
}

.details-section {
  width: 100%; 
}



.table-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.table-item {
  width: 150px;
  height: 150px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}

.tablenumber{
  display: inline-flex;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  gap: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
}

.tablenumber span{
  font-size: 1.3rem;
  font-weight: 600;
}

.table_container{
  display: inline-flex;
  background-color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  gap: 0.8rem;
  box-sizing: border-box;
}

.table_container img{
  width: 50px;
}

.table-number {
  margin: 0;
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  font-weight: bold;
}


.table-status {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.table-status span{
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
}

.table-status img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.available {
  
}

.occupied {
  background-color: transparent;
  border: 2px dotted gray;
  border-radius: 5px;
}

.occupied .table-status img {
  display: none;
}

.waiting-for-bill {
  
}

.closed_food_plate{
  width: 50%;
}

.customer_parent{
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
  justify-content: center;
  align-items: self-start;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}

.customer_parent span{
  font-weight: 500;
}


.customer_incremental{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  box-sizing: border-box;
}

.customer-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.customer-actions{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.customer_and_table_details{
  display: flex;
  gap: 1rem;
}

.customer-count{
  font-size: 1.3rem;
  font-weight: 600;
}


.increment_button, .decremental_button{
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.decremental_button span{
  margin-top: -2px;
}


.special-occasion{
  display: flex;
}

.special-occasion img{
  width: 50px;
}


.special-occasion-label{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: self-start;
  text-align: left;
}